$bg-color-green: #57bbbf;
$bg-color-green-light: #bafcff;
$bg-color-green-dark: #3a7c80;
$bg-color-white: #ffffff;
$buttons-color: #000000;
$font-family-main: 'Open Sans', sans-serif;
$letter-spacing: 1px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-main;
    letter-spacing: $letter-spacing;
    font-size: 10px;
    .container {
        max-width: 1050px;
        margin: 0 auto;
        padding: 0 15px;
    }
    ul, ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: $buttons-color;
    }
    button {
        cursor: pointer;
        padding: 10px 15px;
        border: 3px solid $buttons-color;
        background-color: $buttons-color;
        color: $bg-color-white;
        letter-spacing: 2px;
        transition: 0.4s;
    }
    button:hover {
        background-color: transparent;
        color: $buttons-color;
    }
    .flex {
        display: flex;
    }
    .foto {
        background-size: cover;
    }
    h3 {
        line-height: 1;
        font-size: 3em;
        font-weight: 800;
        letter-spacing: 3px;
        text-transform: uppercase;
        position: relative;
        padding: 1em 0;
    }
    h3::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000;
        width: 1em;
        height: 3px;
    }
    p {
        font-size: 1.2em;
        line-height: 2;
    }
    span {
        color: $bg-color-green;
    }
}
/* body min. 768px */
@media screen and (min-width: 768px) {
    body {
        font-size: 15px;
        button {
            font-size: 1.2em;
        }
    }
}
/* body min. 1150px */
@media screen and (min-width: 1150px) {
}

/* menu, banner */
nav {
    padding: 20px 0;
    background-color: $bg-color-white;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.18);
    z-index: 1;
    position: relative;
    div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h2 {
            text-transform: uppercase;
            font-weight: 800;
            font-size: 1.8em;
            letter-spacing: 3px;
        }
        h1 {
            font-weight: 300;
            font-size: 1.2em;
            letter-spacing: 3px;
        }
        ul {
            display: none;
            flex-direction: row;
            font-size: 1.4em;
            li {
                margin-left: 1em;
            }
            a {
                display: block;
            }
            a:hover {
                color: $bg-color-green;
            }
        }
        /* hamburger-button */
        .hamburger {
            z-index: 1;
            background-color: aqua;
            cursor: pointer;
            position: relative;
        }
        .bar1, .bar2, .bar3 {
            right: 15px;
            position: absolute;
            width: 25px;
            height: 4px;
            border-radius: 2px;
            background-color: $buttons-color;
            transition: 0.3s;
        }
        .bar1 {
            transform: translateY(-10px);
        }
        .bar3 {
            transform: translateY(10px);
        }
        .change .bar2 {
            opacity: 0;
        }
        .change .bar3 {
            transform: rotate(-45deg);
        }
        .change .bar1 {
            transform: rotate(45deg);
        }
    }
    ol {
        position: absolute;
        top: 80px;
        padding: 30px 0;
        text-align: center;
        display: none;
        width: 100%;
        background-color: $bg-color-white;
        flex-direction: column;
        align-items: center;
        li {
            width: 50%;
            border-bottom: 1px solid $buttons-color;
            padding: 20px;
            font-size: 1.5em;
        }
        li:last-child {
            border-bottom: 0;
        }
    }
    .show {
        display: flex;
    }
}
header {
    text-align: center;
    .banner {
        background-image: url('../assets/img/home/banner.jpg');
        background-position: center;
        width: 100%;
        height: 80vh;
        padding: 5em 0;
        text-transform: uppercase;
        h6 {
            font-size: 1.3em;
            font-weight: 300;
            padding: 0 70px;
        }
        h2 {
            font-weight: 800;
            font-size: 5.5em;
            letter-spacing: 7px;
        }
        button {
           padding: 10px 20px;
        }
    }
}
/* menu, banner min. 768px */
@media screen and (min-width: 768px) {
    
    nav {
        position: sticky;
        top: 0;
        div {
            h2 {
                font-size: 1.3em;
            }
            h1 {
                font-size: 1.1em;
            }
            ul {
                display: flex;
            }
            .hamburger {
                display: none;
            }
        }
    }
    header {
        .banner {
            background-attachment: fixed;
            button {
                margin-top: 2em;
            }
        }
    }
}
/* menu, banner min. 1150px */
@media screen and (min-width: 1150px) {
    header {
        .banner {
            height: 100vh;
            background-position: top;
            line-height: 1;
            h2 {
                font-size: 8em;
                letter-spacing: 15px;
            }
        }
    }
}

/* about */
article {
    padding: 4em 15px;
    button {
        margin-top: 30px;
    }
}

/* foto-man */
.presentation {
    width: 100%;
    flex-direction: column;
    figure {
        div {
            max-width: 525px;
            background-image: url('../assets/img/home/man.jpg');
            background-position: top;
            width:100%;
            height: 50vh;
        }
    }
}
/* about, foto-man min. 768px */
@media screen and (min-width: 768px) {
    .presentation {
        max-width: 1050px;
        padding: 0 15px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        article {
            width: 50%;
        }
        figure {
            width: 50%;
            position: relative;
        }
        figure::after, figure::before {
            position: absolute;
            content: '';
            width: 50%;
            height: 5px;
            background-color: $buttons-color;
        }
        figure::before {
            top: 0;
            right: 0;
        }
        figure::after {
            bottom: 0;
            left: 0;
        }
    }

}
/* about min. 1150px */
@media screen and (min-width: 1150px) {
    .presentation {
        p {
            padding-right: 2em;
        }
        .foto {
            height: 670px;
        }
    }
}

/* help */
.help {
    padding: 4em 0;
    background-image: url('../assets/img/home/mountains.jpg');
    background-attachment: fixed;
    
    .booking {
        width: 80%;
        margin: 0 auto;
        background-color: $bg-color-white;
        padding: 2em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 2em;
            font-weight: 800;
            line-height: 1.2;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 20px;
        }
        div {
            position: relative;
            display: flex;
            justify-content: center;
            button {
                margin-top: 20px;
            }
        }
        div::after {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 70%;
            height: 2px;
            background-color: $buttons-color;
        }
    }
    button {
        margin-top: 3em;
    }
}
/* help min. 768px */
@media screen and (min-width: 768px) {
    .help {
        .booking {
            flex-direction: row;
            justify-content: space-between;
            padding: 5em 0;
            p {
                width: 50%;
                font-size: 1.4em;
                padding: 0 1.5em;
                margin: 0 auto;
            }
            div {
                align-items: center;
                width: 50%;
                button {
                    margin: 0 auto;
                }
            }
            div::after {
                width: 2px;
                height: 400%;
                transform: translateY(-35%);
                left: 0;
            }
        }
        div {
            width: 100%;
            justify-content: center;
        }
       
    }
}
/* help min. 1150px */
@media screen and (min-width: 1150px) {
    .help {
        .booking {
            width: 100%;
            height: 350px;
            p {
                letter-spacing: 5px;
            }
        }
    }
}

/* contact */
#contact {
    padding: 4em 0;
    background-color: $bg-color-green;
    div {
        flex-direction: column;
        .socials {
            font-size: 2em;
            margin: 20px 0;
            .icon {
                cursor: pointer;
                margin-right: 15px;
            }
            .icon:hover {
                color: $bg-color-green-light;
            }
        }
        form {
            input[type=text], textarea {
                width: 100%;
                font-size: 1.6em;
                background-color: $bg-color-green;
                border: 2px solid $buttons-color;
                margin-bottom: 10px;
                padding: 8px 12px;
            }
    
            input[type=text]:hover, textarea:hover {
                background-color: $bg-color-green-dark;
            }

            textarea {
                height: 120px;
            }

            .contact-buttons {
                flex-direction: row;
                justify-content: space-between;
                input[type=submit],
                input[type=reset] {
                    width: 48%;
                    padding: 7px 15px;
                    border: 0;
                    background-color: $buttons-color;
                    color: $bg-color-white;
                    letter-spacing: 2px;
                    border: 3px solid $buttons-color;
                }
                input[type=reset] {
                    background-color: $bg-color-white;
                    color: $buttons-color;
                    font-weight: 600;
                    border: 3px solid $bg-color-white;
                }
                input[type=submit]:hover,
                input[type=reset]:hover {
                    background-color: transparent;
                    color: $buttons-color;
                }
            }
        }
    }
}
/* contact min. 768px */
@media screen and (min-width: 768px) {
    #contact {
        div {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}
/* contact min. 1150px */
@media screen and (min-width: 1150px) {
    #contact {
        padding: 90px 0;
        font-size: 12px;
        div {
            justify-content: space-between;
            form {
                width: 50%;
                margin-top: 20px;
            }
        }
    }
}


/* footer */
footer {
    background-color: $bg-color-green;
    text-align: center;
    font-size: 10px;
    padding: 10px 40px;
}