* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 10px;
}

body .container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}

body ul, body ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  color: #000000;
}

body button {
  cursor: pointer;
  padding: 10px 15px;
  border: 3px solid #000000;
  background-color: #000000;
  color: #ffffff;
  letter-spacing: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body button:hover {
  background-color: transparent;
  color: #000000;
}

body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .foto {
  background-size: cover;
}

body h3 {
  line-height: 1;
  font-size: 3em;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  padding: 1em 0;
}

body h3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 1em;
  height: 3px;
}

body p {
  font-size: 1.2em;
  line-height: 2;
}

body span {
  color: #57bbbf;
}

/* body min. 768px */
@media screen and (min-width: 768px) {
  body {
    font-size: 15px;
  }
  body button {
    font-size: 1.2em;
  }
}

/* body min. 1150px */
/* menu, banner */
nav {
  padding: 20px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.18);
  z-index: 1;
  position: relative;
}

nav div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* hamburger-button */
}

nav div h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.8em;
  letter-spacing: 3px;
}

nav div h1 {
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 3px;
}

nav div ul {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.4em;
}

nav div ul li {
  margin-left: 1em;
}

nav div ul a {
  display: block;
}

nav div ul a:hover {
  color: #57bbbf;
}

nav div .hamburger {
  z-index: 1;
  background-color: aqua;
  cursor: pointer;
  position: relative;
}

nav div .bar1, nav div .bar2, nav div .bar3 {
  right: 15px;
  position: absolute;
  width: 25px;
  height: 4px;
  border-radius: 2px;
  background-color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav div .bar1 {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

nav div .bar3 {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

nav div .change .bar2 {
  opacity: 0;
}

nav div .change .bar3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav div .change .bar1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav ol {
  position: absolute;
  top: 80px;
  padding: 30px 0;
  text-align: center;
  display: none;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ol li {
  width: 50%;
  border-bottom: 1px solid #000000;
  padding: 20px;
  font-size: 1.5em;
}

nav ol li:last-child {
  border-bottom: 0;
}

nav .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  text-align: center;
}

header .banner {
  background-image: url("../assets/img/home/banner.jpg");
  background-position: center;
  width: 100%;
  height: 80vh;
  padding: 5em 0;
  text-transform: uppercase;
}

header .banner h6 {
  font-size: 1.3em;
  font-weight: 300;
  padding: 0 70px;
}

header .banner h2 {
  font-weight: 800;
  font-size: 5.5em;
  letter-spacing: 7px;
}

header .banner button {
  padding: 10px 20px;
}

/* menu, banner min. 768px */
@media screen and (min-width: 768px) {
  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  nav div h2 {
    font-size: 1.3em;
  }
  nav div h1 {
    font-size: 1.1em;
  }
  nav div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav div .hamburger {
    display: none;
  }
  header .banner {
    background-attachment: fixed;
  }
  header .banner button {
    margin-top: 2em;
  }
}

/* menu, banner min. 1150px */
@media screen and (min-width: 1150px) {
  header .banner {
    height: 100vh;
    background-position: top;
    line-height: 1;
  }
  header .banner h2 {
    font-size: 8em;
    letter-spacing: 15px;
  }
}

/* about */
article {
  padding: 4em 15px;
}

article button {
  margin-top: 30px;
}

/* foto-man */
.presentation {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.presentation figure div {
  max-width: 525px;
  background-image: url("../assets/img/home/man.jpg");
  background-position: top;
  width: 100%;
  height: 50vh;
}

/* about, foto-man min. 768px */
@media screen and (min-width: 768px) {
  .presentation {
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .presentation article {
    width: 50%;
  }
  .presentation figure {
    width: 50%;
    position: relative;
  }
  .presentation figure::after, .presentation figure::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 5px;
    background-color: #000000;
  }
  .presentation figure::before {
    top: 0;
    right: 0;
  }
  .presentation figure::after {
    bottom: 0;
    left: 0;
  }
}

/* about min. 1150px */
@media screen and (min-width: 1150px) {
  .presentation p {
    padding-right: 2em;
  }
  .presentation .foto {
    height: 670px;
  }
}

/* help */
.help {
  padding: 4em 0;
  background-image: url("../assets/img/home/mountains.jpg");
  background-attachment: fixed;
}

.help .booking {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help .booking p {
  font-size: 2em;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}

.help .booking div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help .booking div button {
  margin-top: 20px;
}

.help .booking div::after {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  width: 70%;
  height: 2px;
  background-color: #000000;
}

.help button {
  margin-top: 3em;
}

/* help min. 768px */
@media screen and (min-width: 768px) {
  .help .booking {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5em 0;
  }
  .help .booking p {
    width: 50%;
    font-size: 1.4em;
    padding: 0 1.5em;
    margin: 0 auto;
  }
  .help .booking div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .help .booking div button {
    margin: 0 auto;
  }
  .help .booking div::after {
    width: 2px;
    height: 400%;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
    left: 0;
  }
  .help div {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* help min. 1150px */
@media screen and (min-width: 1150px) {
  .help .booking {
    width: 100%;
    height: 350px;
  }
  .help .booking p {
    letter-spacing: 5px;
  }
}

/* contact */
#contact {
  padding: 4em 0;
  background-color: #57bbbf;
}

#contact div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact div .socials {
  font-size: 2em;
  margin: 20px 0;
}

#contact div .socials .icon {
  cursor: pointer;
  margin-right: 15px;
}

#contact div .socials .icon:hover {
  color: #bafcff;
}

#contact div form input[type=text], #contact div form textarea {
  width: 100%;
  font-size: 1.6em;
  background-color: #57bbbf;
  border: 2px solid #000000;
  margin-bottom: 10px;
  padding: 8px 12px;
}

#contact div form input[type=text]:hover, #contact div form textarea:hover {
  background-color: #3a7c80;
}

#contact div form textarea {
  height: 120px;
}

#contact div form .contact-buttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact div form .contact-buttons input[type=submit],
#contact div form .contact-buttons input[type=reset] {
  width: 48%;
  padding: 7px 15px;
  border: 0;
  background-color: #000000;
  color: #ffffff;
  letter-spacing: 2px;
  border: 3px solid #000000;
}

#contact div form .contact-buttons input[type=reset] {
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
  border: 3px solid #ffffff;
}

#contact div form .contact-buttons input[type=submit]:hover,
#contact div form .contact-buttons input[type=reset]:hover {
  background-color: transparent;
  color: #000000;
}

/* contact min. 768px */
@media screen and (min-width: 768px) {
  #contact div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* contact min. 1150px */
@media screen and (min-width: 1150px) {
  #contact {
    padding: 90px 0;
    font-size: 12px;
  }
  #contact div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #contact div form {
    width: 50%;
    margin-top: 20px;
  }
}

/* footer */
footer {
  background-color: #57bbbf;
  text-align: center;
  font-size: 10px;
  padding: 10px 40px;
}
/*# sourceMappingURL=home.css.map */